/* Шрифты */
.inter-<uniquifier> {
    font-family: "Inter", sans-serif;
}
.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
html
{color: rgb(24, 33, 109);}
/* Header styles */

/* Main part styles */

/* MAIN-The best video online meeting software */

/* MAIN-Our special features */
.block2{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3 , 33%);
    grid-template-rows: 30vh 30vh 1 fr;

}
.Our_special_features{
    display: grid;
    grid-column: 1/4;
    grid-row:1/2 ;
    justify-items: center;

}
.Our_special_features h1{
    font: inter;
    font-size: 48px;
    font-weight: 600;
    line-height: 64px;
}
.Affordable{
    display: grid;
    grid-column: 1/2;
    grid-row:2/3 ;  
}
.Seamless_Reliability{
    display: grid;
    grid-column: 2/3;
    grid-row:2/3 ;
 }
 .Secure Collaboration{
    display: grid;
    grid-column: 3/4;
    grid-row:2/3 ;
 }


/* MAIN-Powering your comunicaiton from anywhere world. */

/* MAIN-Flexible pricing  plan */

/* MAIN-Testimonial */
header{
    display: grid;
    grid-template-columns: 200px 150px 150px 150px 150px 150px 150px 100px 100px;
    grid-template-rows: 100px;
    justify-content: space-around;
}
.logo{
    display: grid;
    grid-column: 1;
    margin-top: 30px;
    margin-left: 40px;
}
a:link{
    text-decoration: rgb(24, 33, 109);
}
.nav{
    display: grid;
    grid-column: 2 / 6;
    margin-top: 35px;
    font-family: 'Inter';
}
.home{
    display: grid;
    grid-column: 2;
    margin-right: 30px;
    text-decoration: none
}
.feature{
    display: grid;
    grid-column: 3;
    margin-right: 30px;
    text-decoration: none
}
.pricing{
    display: grid;
    grid-column: 4;
    margin-right: 30px;
    text-decoration: none
}
.solution{
    display: grid;
    grid-column: 5;
    margin-right: 30px;
    text-decoration: none
}
.faq{
    display: grid;
    grid-column: 6;   
    text-decoration: none
}
.btn-sign_in{
    display: grid;
    grid-column: 7;
    border: none;
    background-color: white;
    margin-top: 35px;
    color: rgb(24, 33, 109);
    font-family: 'Inter';
}
.btn-download{
    display: grid;
    grid-column: 8;
    border: none;
    background: rgb(24, 33, 109);
    color: white;
    height: 35px;
    margin-top: 30px;
    align-items: center;
    border-radius: 7px;
}
.wrapper-block6{ 
    background-color: #FAFAFA;
    border:1px solid black;
    height: 650px;
    display: flex;
    justify-content: space-evenly;
}
.content-bl6{
    font-family: "Inter", sans-serif;
    width: 600px;
    padding-top: 140px;
    padding-bottom: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.title-bl6{
    font-size: 48px;
    font-weight: 600;
    line-height: 48px;
}
.text-bl6{
    font-size: 24px;
    font-weight: 500;
    font-style: italic;
    line-height: 44px;
}
.author-bl6{
    font-size: 26px;
    font-weight: 500;
    line-height: 26px;
}
.manager-bl6{
    font-size: 16px;
    font-weight: 400;
}
.img-bl6{
    padding-top: 100px;
    padding-bottom: 100px;
}

/* MAIN-Integrate with your outlook or gmail calendar */

.main_content_integrate_mail {
margin-top: 138px;
width: 1600px;
height: 593px;


}

.main_content_integrate {
display: flex;
justify-content: space-between;
align-items: center;
background-color: rgba(230, 239, 253, 1);
}

.main_content_integrate h2 {
color: #18216D;
font-size: 36px;
font-family: "Inter", sans-serif;
font-weight: 700;
margin-bottom: 15px;
margin-left: 215px;
}

.main_content_integrate p {
font-size: 16px;
margin-bottom: 40px;
color: #18216D;
margin-left: 215px;
font-family: "Inter";
font-weight: 400;
}

.main_content_mail_buttons a {
padding: 16px 28px;
background-color: #005FEC;
border-radius: 6px;
color: #FFFFFF;
font-family: "Inter", sans-serif;
font-size: 17px;
text-decoration: none;
margin-right: 417px;
display: inline-block;
margin-left: 215px;
}

.pic_of_videocall {
width: 690px;
height: 437px;
margin-top: 69px;
margin-right: 118px;
margin-bottom: 87px;
}


/* Footer styles */
